
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(206, 232, 206);
    
}

header {
    text-align: center;
}

h1 {
    padding: 20px;
}


#quote {
    border: 15pt solid rgba(135, 107, 119, 0.599);
    border-radius: 25%;
    background-color: rgba(225, 150, 210, 0.843);
    display: grid;
    margin: 20px;
    grid-template-areas: "quoteText quoteText quoteText quoteText quoteText"
    ". . . quoteAuthor quoteAuthor"
    ". . quoteButton . .";
}

#quoteText {
    justify-content: center;
    font-style: italic;
    padding: 10px;
    grid-area: quoteText;
}

#quoteAuthor {
    justify-content: right;
    margin: 10px;
    grid-area: quoteAuthor;
}

#quoteButton {
    justify-content: center;
    padding: 5px;
    grid-area: quoteButton;
}